:root {
  --pr-font-color: #555555;
  --sec-font-color: #303030;
  --white-font-color: #ffffff;

  --pr-accent-color: #ff6c00;
  --sec-accent-color: #9da4bd;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  /* background-color: tomato; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--pr-font-color);

  background-color: #ccc;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header.link {
  color: var(--white-font-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.feedback .link {
  text-transform: uppercase;
}
.link:hover,
.link:focus {
  color: var(--pr-accent-color);
}
.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  color: var(--white-font-color);
  background-color: transparent;
  border: 1px solid var(--pr-accent-color);
  border-radius: 25px;

  text-transform: uppercase;
}
.button:hover {
  color: var(--pr-accent-color);
  border-color: var(--white-font-color);
}
.note {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--sec-font-color);

  margin-top: 0;
  margin-bottom: 20px;
}
.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;

  color: var(--white-font-color);

  margin-top: 0;
  margin-bottom: 20px;
}
.accent-text {
  color: var(--sec-accent-color);
}
.rotate .link {
  /* display: inline-block; */
  transform: rotate(-90deg);
  color: var(--sec-font-color);

  /* margin: 0;
  padding: 0; */
}
