.contacts {
  //padding-top: 130px;
  //padding-bottom: 120px;
  //padding-left: 100px;
  //width: calc(50% - 15px);
  width: 100%;
}
.contacts-title {
  margin-bottom: 40px;

  color: var(--white-font-color);
}
.contacts-map-link {
  display: flex;
  max-width: 258px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--sec-accent-color);

  transition: color 0.35s ease;
}
.contacts-icon {
  stroke: currentColor;
  margin-right: 16px;
}
.contacts-map-link > .contacts-icon {
  margin-top: 6px;
}
.contacts-map-link:hover,
.contacts-map-link:focus {
  color: var(--pr-accent-color);
}
.contacts-item {
  margin-bottom: 70px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--sec-accent-color);

  transition: color 0.35s ease;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pr-accent-color);
}

.contacts-pre-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  color: var(--white-font-color);
}
.contacts-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--sec-accent-color);
}
